-let site = "Pug"
-let titre = "Projet d'introduction"
-let description = "Voici un projet d'introduction à Pug"
-let pages = ["Accueil", "À propos de nous", "Services", "Clients", "Contact"]
-let pageActuelle = "Accueil"
